<div class="footer-separator"></div>
<footer class="footer mt-auto py-4 gradient-footer">
  <div class="container text-center text-md-start">
    <div class="row">
      <div class="col-md-3 mb-3">
        <h5 class="text-light">VIDEOSPACE</h5>
        <p class="small text-light">
          Immergiti nel nostro mondo di film e scopri nuove emozioni.
        </p>
      </div>
      <div class="col-md-3 mb-3">
        <h6 class="text-light">Navigazione</h6>
        <ul class="list-unstyled">
          <li><a routerLink="/home" class="text-light">Home</a></li>
          <li><a routerLink="/favorite" class="text-light">Favoriti</a></li>
          <li><a routerLink="/userList" class="text-light">Utenti</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3">
        <h6 class="text-light">Contattaci</h6>
        <p class="small text-light">info&copy;videospace.com</p>
        <p class="small text-light">+39 123 456 7890</p>
      </div>
      <div class="col-md-3 mb-3 text-center">
        <h6 class="text-light">Seguici</h6>
        <a href="#" class="text-light mx-2"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-light mx-2"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-light mx-2"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
    <div class="text-center text-light mt-3">
      <p class="small">&copy; 2024 VIDEOSPACE. Tutti i diritti riservati.</p>
    </div>
  </div>
</footer>
